// background for homepage content
.foodbookContent {
    background: $dark;
}

// remove border from header
.bar-dark {
    border: none;
}

// border for text inputs on add page
.foodbookBorder {
    border: 2px solid black;
}

// recipe listing
.recipeListing {
    text-align: center;
    a {
        text-decoration: none;
    }
}

// wrapping for ion item
.item {
    white-space: normal;
}